NOTIFICATIONS_ENVIRONMENT=development
NOTIFICATIONS_DATABASE_URL=postgresql+asyncpg://flashmarket:flashmarket@localhost:5437/notifications
NOTIFICATIONS_RABBITMQ_URL=amqp://guest:guest@localhost:5672/
NOTIFICATIONS_CORS_ORIGINS='["http://localhost:3000"]'
