NOTIFICATIONS_ENVIRONMENT=development
NOTIFICATIONS_DATABASE_URL=postgresql+asyncpg://${INFRA_USER:-shide}:${POSTGRES_PASSWORD:-shide}@shide-postgres:5432/notifications
NOTIFICATIONS_RABBITMQ_URL=amqp://${INFRA_USER:-shide}:${RABBITMQ_PASSWORD:-shide}@shide-rabbitmq:5672//notifications
NOTIFICATIONS_CORS_ORIGINS='["http://localhost:3000"]'
NOTIFICATIONS_TRUSTED_HOSTS='["localhost","127.0.0.1"]'
NOTIFICATIONS_DOCS_ENABLED=true
NOTIFICATIONS_DEBUG=false
NOTIFICATIONS_ALLOW_INSECURE_INTERNAL_SERVICES=true
INFRA_USER=shide
POSTGRES_PASSWORD=shide
RABBITMQ_PASSWORD=shide
