ORDERS_ENVIRONMENT=development
ORDERS_DATABASE_URL=postgresql+asyncpg://${INFRA_USER:-shide}:${POSTGRES_PASSWORD:-shide}@shide-postgres:5432/orders
ORDERS_DATABASE_API_POOL_SIZE=3
ORDERS_DATABASE_API_MAX_OVERFLOW=2
ORDERS_DATABASE_WORKER_POOL_SIZE=1
ORDERS_DATABASE_WORKER_MAX_OVERFLOW=1
ORDERS_DATABASE_POOL_TIMEOUT_SECONDS=5
ORDERS_DATABASE_POOL_RECYCLE_SECONDS=1800
ORDERS_API_MEMORY_LIMIT=256m
ORDERS_WORKER_MEMORY_LIMIT=160m
ORDERS_RABBITMQ_URL=amqp://${INFRA_USER:-shide}:${RABBITMQ_PASSWORD:-shide}@shide-rabbitmq:5672/flashmarket
ORDERS_PAYMENT_TIMEOUT_SECONDS=300
ORDERS_CORS_ORIGINS='["http://localhost:3000"]'
ORDERS_TRUSTED_HOSTS='["localhost","127.0.0.1"]'
ORDERS_DOCS_ENABLED=true
ORDERS_DEBUG=false
ORDERS_ALLOW_INSECURE_INTERNAL_SERVICES=true
INFRA_USER=shide
POSTGRES_PASSWORD=shide
RABBITMQ_PASSWORD=shide
