API_DOMAIN=localhost
GATEWAY_PORT=8080
FRONTEND_PORT=3000
MEDIA_STORAGE_PORT=9000

AUTH_PORT=8000
AUTH_DB_PORT=5432
AUTH_REDIS_PORT=6379
AUTH_RABBITMQ_PORT=5672
AUTH_RABBITMQ_MANAGEMENT_PORT=15672
CELERY_AUTH_CLEANUP_INTERVAL_SECONDS=3600
CELERY_INVENTORY_EXPIRY_INTERVAL_SECONDS=5
CELERY_DROPS_SCHEDULER_INTERVAL_SECONDS=10
CELERY_MEDIA_CLEANUP_INTERVAL_SECONDS=30

CATALOG_PORT=8010
CATALOG_DB_PORT=5433

INVENTORY_PORT=8011
INVENTORY_DB_PORT=5434

ORDERS_PORT=8012
ORDERS_DB_PORT=5435

PAYMENTS_PORT=8014
PAYMENTS_DB_PORT=5436

NOTIFICATIONS_PORT=8016
NOTIFICATIONS_DB_PORT=5437

DROPS_PORT=4925
WISHLIST_PORT=4924
MEDIA_PORT=4926
