PAYMENTS_ENVIRONMENT=development
PAYMENTS_DATABASE_URL=postgresql+asyncpg://${INFRA_USER:-shide}:${POSTGRES_PASSWORD:-shide}@shide-postgres:5432/payments
PAYMENTS_RABBITMQ_URL=amqp://${INFRA_USER:-shide}:${RABBITMQ_PASSWORD:-shide}@shide-rabbitmq:5672//payments
PAYMENTS_CORS_ORIGINS='["http://localhost:3000"]'
PAYMENTS_TRUSTED_HOSTS='["localhost","127.0.0.1"]'
PAYMENTS_DOCS_ENABLED=true
PAYMENTS_DEBUG=false
PAYMENTS_ALLOW_INSECURE_INTERNAL_SERVICES=true
INFRA_USER=shide
POSTGRES_PASSWORD=shide
RABBITMQ_PASSWORD=shide
