PAYMENTS_ENVIRONMENT=development
PAYMENTS_DATABASE_URL=postgresql+asyncpg://flashmarket:flashmarket@localhost:5436/payments
PAYMENTS_RABBITMQ_URL=amqp://guest:guest@localhost:5672/
PAYMENTS_CORS_ORIGINS='["http://localhost:3000"]'
