PAYMENTS_ENVIRONMENT=development
PAYMENTS_DATABASE_URL=postgresql+asyncpg://${INFRA_USER:-shide}:${POSTGRES_PASSWORD:-shide}@shide-postgres:5432/payments
PAYMENTS_DATABASE_API_POOL_SIZE=3
PAYMENTS_DATABASE_API_MAX_OVERFLOW=2
PAYMENTS_DATABASE_WORKER_POOL_SIZE=1
PAYMENTS_DATABASE_WORKER_MAX_OVERFLOW=1
PAYMENTS_DATABASE_POOL_TIMEOUT_SECONDS=5
PAYMENTS_DATABASE_POOL_RECYCLE_SECONDS=1800
PAYMENTS_API_MEMORY_LIMIT=256m
PAYMENTS_WORKER_MEMORY_LIMIT=160m
PAYMENTS_RABBITMQ_URL=amqp://${INFRA_USER:-shide}:${RABBITMQ_PASSWORD:-shide}@shide-rabbitmq:5672/flashmarket
PAYMENTS_CORS_ORIGINS='["http://localhost:3000"]'
PAYMENTS_TRUSTED_HOSTS='["localhost","127.0.0.1"]'
PAYMENTS_DOCS_ENABLED=true
PAYMENTS_DEBUG=false
PAYMENTS_ALLOW_INSECURE_INTERNAL_SERVICES=true
# Hosted payments stay on the offline mock provider until a YooKassa test shop is configured.
PAYMENTS_PAYMENT_PROVIDER=mock
PAYMENTS_YOOKASSA_SHOP_ID=
PAYMENTS_YOOKASSA_SECRET_KEY=
PAYMENTS_YOOKASSA_API_URL=https://api.yookassa.ru/v3
PAYMENTS_YOOKASSA_RETURN_URL=http://localhost/payment/return
PAYMENTS_YOOKASSA_TEST_MODE_REQUIRED=true
INFRA_USER=shide
POSTGRES_PASSWORD=shide
RABBITMQ_PASSWORD=shide
