INVENTORY_ENVIRONMENT=development
INVENTORY_DATABASE_URL=postgresql+asyncpg://${INFRA_USER:-shide}:${POSTGRES_PASSWORD:-shide}@shide-postgres:5432/inventory
INVENTORY_REDIS_URL=redis://shide-redis:6379/2
INVENTORY_STOCK_CACHE_TTL_SECONDS=30
INVENTORY_REDIS_SOCKET_TIMEOUT_SECONDS=0.2
INVENTORY_RABBITMQ_URL=amqp://${INFRA_USER:-shide}:${RABBITMQ_PASSWORD:-shide}@shide-rabbitmq:5672//inventory
INVENTORY_RESERVATION_TTL_SECONDS=300
INVENTORY_CORS_ORIGINS='["http://localhost:3000"]'
INVENTORY_TRUSTED_HOSTS='["localhost","127.0.0.1"]'
INVENTORY_DOCS_ENABLED=true
INVENTORY_DEBUG=false
INVENTORY_ALLOW_INSECURE_INTERNAL_SERVICES=true
INFRA_USER=shide
POSTGRES_PASSWORD=shide
RABBITMQ_PASSWORD=shide
