DROPS_ENVIRONMENT=development
DROPS_DEBUG=false
DROPS_DATABASE_URL=postgresql+asyncpg://shide:shide@shide-postgres:5432/drops
DROPS_RABBITMQ_URL=amqp://shide:shide@shide-rabbitmq:5672/drop
DROPS_LOG_FILE_PATH=
DROPS_PROMETHEUS_MULTIPROC_DIR=
DROPS_DOCS_ENABLED=true
DROPS_TRUSTED_HOSTS=["localhost","127.0.0.1"]
DROPS_CORS_ORIGINS=["http://localhost:3000"]
DROPS_ALLOW_INSECURE_INTERNAL_SERVICES=true
